.title-cmh {
    color: #004976;
}

.sub-title-cmh {
    color: #C6D602;
}

.margin-right {
    margin-right: 0.313rem !important;
}

.thead-cmh {
    background-color: #C6D602;
    color: white;
}

.modal-cmh-header-footer {
    background: -webkit-linear-gradient(right, rgba(198, 216, 2, 1), rgba(252, 255, 222, 1));
}

.input-group-text-currency {
    color: white !important;
    background-color: #118C50 !important;
    font-weight: bold !important;
}

.input-group-text-primary {
    color: white !important;
    background-color: #0d6efd !important;
    font-weight: bold !important;
}